.venv
venv
__pycache__
*.pdf
output_od
models
runs
model
images/mask.png
coco8
detr.py
od_yolov3.py
color_index_w.py
pose.py
feature_extraction.py
layout.txt
gaussian.py
masked_tracking.py
output
smooth_tracking.py