<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Tracking & Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="sidebar">
            <h2>Select Operation</h2>
            <select id="operation">
                <option value="image_processing">Image Processing</option>
                <option value="yolo_image">Object Detection in Image (YOLO)</option>
                <option value="yolo_video">Object Detection in Video (YOLO)</option>
                <option value="retinanet_video">Object Detection in Video (RetinaNet)</option>
                <option value="tracking">Object Tracking in Surveillance Videos</option>
            </select>

            <h2>Upload File</h2>
            <input type="file" id="fileUpload">

            <div class="buttons">
                <button onclick="processFile()">Process</button>
                <button onclick="downloadOutput()">Download Output</button>
            </div>

            <p id="processingText" style="display: none;">Processing...</p>
        </div>

        <div class="content">
            <h2>Processed Output</h2>
            <div id="output-container">
                <img id="outputImage" alt="Processed Image or Video" style="display: none;">
                <video id="outputVideo" controls style="display: none;"></video>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>